{% extends "base.html" %}
{% block head %}
<title>Error Page</title>
{% endblock %}

{% block body %}


    <!-- content
    ================================================== -->
    <section class="s-content">
        <div class="row">
            <div class="column large-12">

                <section>
                    <div class="s-content__primary">

                        <h1 class="s-content__title">{{msg}}</h1>	

                        

                        

                    </div> <!-- end s-content__primary -->

                </section>

            </div> <!-- end column -->
        </div> <!-- end row -->
    </section> <!-- end s-content -->
{% endblock %}