{% extends "base.html" %}
{% block head %}
<title>Blog Page</title>
{% endblock %}

{% block body %}


    <!-- content
    ================================================== -->
    <section class="s-content s-content--single">
        <div class="row">
            <div class="column large-12">

                <article class="s-post entry format-standard">

                    <div class="s-content__primary">


                        <form name="cForm" id="cForm" class="s-content__form" method="POST" action="/blog_update/{{user.id}}/{{blog.bid}}">
                            <fieldset>
    
    
                                <div class="form-field">
                                    <input name="cBlogname" type="text" id="cBlogname" class="h-full-width" placeholder="Give your blog a title" value="{{blog.blog_name}}">
                                </div>
    
                                <div class="form-field">
                                    <input name="cBlogcontent" type="text" id="cBlogcontent" class="h-full-width" placeholder="Write your blog" value="{{blog.blog_content}}">
                                </div>
    
                                <div class="form-field">
                                    <input name="cCategory" type="text" id="cCategory" class="h-full-width" placeholder="Categories"  value="{{blog.blog_category}}">
                                </div>
    
                                <button type="submit" class="submit btn btn--primary btn--medium h-full-width">Update Blog</button>
                                <button type="button " class="submit btn btn--primary--dlt btn--medium h-full-width"><a href="/delete_blog/{{user.id}}/{{blog.bid}}" id="dlt_btn">Delete Blog</a></button>
                            </fieldset>
                       </form> <!-- end form -->
    
                    </div> <!-- end s-content__primary -->
                       
                    </div> <!-- end s-content__primary -->
                </article>

            </div> <!-- end column -->
        </div> <!-- end row -->


        <!-- comments
        ================================================== -->


    </section> <!-- end s-content -->


{% endblock %}